@import "tailwindcss";

/* デフォルトでつくマーカーの背景を消す*/
.custom-div-icon {
  background: none;
  border: none;
}

/* ポップアップのリンクの専用クラス */

.leaflet-container a.gm-btn {
  color: #fff;
}
.leaflet-container a.article-btn {
  color: #fff;
}
